@using Northwind.Models
@model IEnumerable<Order>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        <div class="form-date" style="display:inline">
                            <label class="form-date-label" for="Date">Orders After: </label>
                            <input class="form-date-input text-right" type="date" id="Date">
                            <input class="btn btn-primary text-right" type="button" id="Clear" value="Clear Date"/>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        <div class="form-check text-left">
                            <input class="form-check-input" type="checkbox" id="Shipped">
                            <label class="form-check-label" for="Shipped">Shipped</label>
                        </div>
                        <div class="form-check text-left">
                            <input class="form-check-input" type="checkbox" id="Overdue">
                            <label class="form-check-label" for="Overdue">Overdue</label>
                        </div>
                        <div class="form-check text-left">
                            <input class="form-check-input" type="checkbox" id="Close">
                            <label class="form-check-label" for="Close">Close</label>
                        </div>
                        <div class="form-check text-left">
                            <input class="form-check-input" type="checkbox" id="Others">
                            <label class="form-check-label" for="Others">Other</label>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Customer</th>
            <th scope="col">Employee</th>
            <th scope="col">Order Date</th>
            <th scope="col">Required Date</th>
            <th scope="col">Shipping Address</th>
</thead>
    <tbody id="order_rows">
    </tbody>
</table>

@section scripts
{
    <script src="~/js/order.js"></script>
}